$backgroundImageUrl: url("../../../../../../../public/hero/tlo.avif");

.hero-container {
  height: 100svh;
  background-image: $backgroundImageUrl;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  app-hero-slogan {
    left: 5%;
    top: 60%;
  }
}

@media (max-width: 26.5rem) {
  app-hero-slogan {
    left: 50% !important;
    top: 35% !important;
    transform: translateX(-50%) translateY(-50%);
  }
}
