@use "./toolbar-variables" as variables;

$background-color: #ffffff4d;
$space-between-buttons-and-menu: 15px;

.header-toolbar {
  background-color: $background-color;

  .menu {
    max-height: 0;
    overflow: hidden;
    transition: all variables.$animations-duration ease-in-out;
    display: flex;
    flex-direction: column;

    a {
      opacity: 0;
      transition: opacity variables.$animations-duration ease-in-out;
    }
    &.open {
      max-height: 60svh;
      margin-top: $space-between-buttons-and-menu;

      a {
        opacity: 1;
      }
    }
  }
}

@media (max-width: variables.$breakpoint) {
  .header-toolbar {
    padding: 10px !important;
  }
}
