::ng-deep .offcanvas-fullscreen {
  width: 100vw !important;
  height: 90svh !important;
  background-color: #3e3e3e !important;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.contact-header {
  font-size: clamp(1.5rem, calc(3.5vw + 1rem), 5rem);
}
.contact-body {
  &__components {
    flex: 1;
    width: 100%;
    max-width: 31rem;
  }
}

@media (max-width: 75rem) {
  ::ng-deep .offcanvas-fullscreen {
    height: 100svh !important;
    gap: 1.5rem;
    justify-content: unset;
    padding-top: 8rem;
    padding-bottom: 1rem;
  }
  .contact-body {
    flex-direction: column-reverse;
    width: unset !important;
  }
}
