@use "@angular/material" as mat;

$error-color: #ff3131;
$error-hover-color: #fc6262;

html {
  @include mat.theme(
    (
      typography: Roboto,
      density: 0,
    )
  );
  --mat-sys-primary: #f5df4d;
  --mat-sys-on-primary: #000;

  @include mat.form-field-overrides(
    (
      filled-error-hover-label-text-color: $error-hover-color,
      filled-error-focus-label-text-color: $error-color,
      filled-error-label-text-color: $error-color,
      filled-error-active-indicator-color: $error-color,
      filled-error-focus-active-indicator-color: $error-color,
      filled-error-hover-active-indicator-color: $error-hover-color,
      error-text-color: $error-color,
    )
  );
}
