@use "../toolbar-variables" as variables;

button {
  color: variables.$font-color;
  box-shadow: variables.$buttons-shadow;
  transition: transform variables.$buttons-click-duration;

  &:active {
    transform: variables.$buttons-click-effect;
  }
}
