$mainYellow: var(--main-yellow);

.yellow-text {
  color: $mainYellow;
}

.yellow-underline {
  transition: box-shadow 250ms ease-in-out;
  text-decoration: underline $mainYellow;
  text-decoration-skip-ink: none;
}
