<div class="logos-container d-flex flex-column">
  <a [href]="getSafeUrl(opublikowaniUrl)" target="_blank">
    <picture class="logos">
      <source srcset="footer/opublikowani.avif" type="image/avif" />
      <img
        ngSrc="footer/opublikowani.jpg"
        alt="Logo Opublikowani"
        width="90"
        height="90"
      />
    </picture>
  </a>
  <div class="divider d-flex align-items-center">
    <span>należymy do</span>
  </div>
  <picture class="logos">
    <source srcset="footer/dimaq.avif" type="image/avif" />
    <img
      ngSrc="footer/dimaq.png"
      alt="Logo DIMAQ"
      width="246"
      height="90"
      priority
    />
  </picture>
</div>
