<footer class="p-4 d-flex flex-column gap-5">
  <div class="upper-side d-flex justify-content-around flex-wrap">
    <app-footer-logos />
    <app-footer-menu />
    <app-footer-offices />
    <app-footer-contact />
  </div>
  <div class="px-4 d-flex flex-column gap-3">
    <mat-divider />
    <div
      class="bottom-side d-flex justify-content-between gap-3 flex-wrap-reverse px-4"
    >
      <app-logo-yello />
      <app-footer-socials />
      <app-footer-legals />
    </div>
  </div>
</footer>
