@use "./footer-commons" as commons;

footer {
  background-color: #1c1c1c;
  color: #fff;
  gap: 5vw;

  .upper-side {
    gap: 10%;
    flex: 1;

    .menu {
      width: 100%;
      gap: 0 15px;
    }
  }
  mat-divider {
    border-top-color: commons.$primaryColor;
  }
}

@media (max-width: commons.$mobileBreakpoint) {
  .bottom-side {
    justify-content: center !important;
  }
}
